<nav id="sidebar">
  <div class="sidebar-brand">
    <img src="/ntg.png" alt="NTG Logo">
  </div>

  <div class="sidebar-label">Main Menu</div>

  <ul class="nav flex-column nav-sidebar">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="dashboard">
        <i class="bi bi-grid-1x2-fill"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/students">
        <i class="bi bi-people-fill"></i> Students
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/attendance">
        <i class="bi bi-calendar-check"></i> Attendance
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/attendance-records">
        <i class="bi bi-journal-text"></i> Attendance Records
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/late-arrivals">
        <i class="bi bi-clock-history"></i> Late Arrivals
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/violations">
        <i class="bi bi-exclamation-circle"></i> Violations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/permissions">
        <i class="bi bi-shield-check"></i> Permissions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/complaints">
        <i class="bi bi-chat-left-text"></i> Complaints
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/medical-cases">
        <i class="bi bi-heart-pulse"></i> Medical Cases
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/audit-logs">
        <i class="bi bi-heart-pulse"></i> Audit Logs
      </a>
    </li>
  </ul>
</nav>
